<html>
    <head>
        <body>
            <h1 id="title">Offside detection</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index')}}">New detection</a></li>
                    <li><a href="{{url_for('about')}}">About</a></li>
                </ul>
            </nav>
            <div>
                <ul id="calibration_type">
                    <li><a href="interact.html">Interactive</a></li>
                    <li><a href="auto.html">Automatic</a></li>
                </ul>
            </div>
        </body>
    </head>
</html>