<html>
    <head>
        <title>Offside detection</title>
        <link rel="stylesheet" href="static/css/style.css?v=1.0.0">
    </head>
    <body>
        <body>
            <h1 id="title">Offside detection</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index')}}">New detection</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </nav>
            <div>
                <ul>
            <li>detected players </li>
            <img src="static/images/user_image_detected.jpg" alt="players" width="auto" height="500">
            <li>map of players</li>
            <img src="static/images/field_with_players.jpg" alt="players" width="auto" height="500">
                    </ul>
            </div>
            
    </body>
</html>