@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  /* Full height */
  /* height: 100%; */

  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
 }



h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  text-align: center;
}
#calibration_type{
  /* list-style-type: none; */
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  background-color: #333;
  opacity:  70%;
  top: 0;
  width: 30%;
  text-align: center;

}




.text-danger{
  color:whitesmoke;
  background-color: #c21500;
  
}
.parent {
    display: flex;
    width: 50%;
  }
  
  .child{
    flex: 1;
    margin: 10px;
  }

  .first-slide {
	/* make darker; */
	background-color: rgba(0, 0, 0, 0.5);
  }

  .crosshair-vertical{
	background-color:red;
	width:2px;
	height:100%;
	position:absolute;
	top:0;
	left:10%;
	visibility:hidden;
}
.crosshair-horizontal{
	background-color:red;
	width:100%;
	height:2px;
	position:absolute;
	top:20%;
	left:0;
	/* transform:rotate(90deg); */
	/* transform-origin:top left; */
	visibility:hidden;
	/* z-index: 1000; */
}
#field-container{
	position:relative;
	height:400px;
	width:auto;
	/* top:0; */
	/* left:500px; */
	/* overflow:hidden; */
	cursor:crosshair;
	/* border: solid red; */

}
#user-container{
	position:relative;
	height:400px;
	width:auto;
	/* top:0; */
	/* left:500px; */
	overflow:hidden;
	cursor:crosshair;
}
