<html>
    <head>
        <title>Offside detection</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
        <link rel="stylesheet" href="static/css/style.css?v=1.0.0">
    </head>
    <body>
            <div class="bg-light bg-gradient">
                <h1 id="title"><a href="{{ url_for('index')}}" style="all:unset;cursor:pointer">Offside detection</a></h1>
                

    
            <div>
                <h2>How to calibrate the image</h2>
                
                    Click on 4 corresponding points on both images in the same order for the calibration. <br>

                    After the fourth point is clicked, You would get a confirmation and then just press the "calibrate" button <br>
                
                {% if feedback %}
                <p class="text-danger">{{ feedback }}</p>
                {% endif %}
                <div class='parent'>
                    <div class='child'>
                        <div id="field-container">
                            <img src="{{'static/images/field.jpg'}}" id="field" height="400px" width=auto />
                            <div class="crosshair-vertical"></div>
                            <div class="crosshair-horizontal"></div>
                        </div>
                        <h4>Field coordinates</h4>
                        <p id="field_coor"></p>
            <form method="post" enctype="multipart/form-data">
                <label>The field points coordinates</label>
                <input type="text"  id="field_coord" name="field_coord" style="display:none"/>
                <br/>
                <input type="submit" value="calibrate" class="btn btn-primary position-absolute start-50 translate-middle">
                            
                        
                    </div>
                    <div class='child'>
                        <!-- <img src="{{'static/user_input/'}}{{file1}}" id="user_input" width="400px" height=auto /> -->
                        <div id="user-container">
                            <img src="{{ image_b64 }}" id="user_input" height="400px" width=auto />
                            <div class="crosshair-vertical"></div>
                            <div class="crosshair-horizontal"></div>
                        </div>
                        <h4>User coordinates</h4>
                        <p id="user_img_coor"></p>
                            <label>The user points coordinates</label>
                            <input type="text"  id="user_coord" name="user_coord"  style="display:none"/>
                    </div>

                </div>
            </form>
            </div>
                <div id="coor1"></div>
            </div>


              
                <script type="text/javascript">
                    var field_pts =0;                    
                    var field_coor= [];             
                                       
                    $('#field-container').click(function(e)
                    {   
                        var offset_t = $(this).offset().top - $(window).scrollTop();
                        var offset_l = $(this).offset().left - $(window).scrollLeft();

                        var left = Math.round( (e.clientX - offset_l) );
                        var top = Math.round( (e.clientY - offset_t) );
                        if (field_pts<4){
                            
                            field_coor.push([left,top]);
                            
                            dot_marker = document.createElement("div");
                            dot_marker.style.position = "absolute";
                            dot_marker.style.width = "5px";
                            dot_marker.style.height = "5px";
                            dot_marker.style.backgroundColor = "red";
                            dot_marker.style.left = left+"px";
                            dot_marker.style.top = top+"px";
                            document.getElementById("field-container").appendChild(dot_marker);

                        // alert("Left: "+field_coor);
                        field_pts++;
                        if (field_pts==4){
                            alert("Finished clicking the field points");
                            document.getElementById("field_coord").value=field_coor;
                            field_pts++;
                        }
                            
                        }
                        else{
                            alert("You have already clicked 4 points");
                        }
                    });

                 


                    var user_coor= [];   
                    var user_pts=0;          
                                       
                    $('#user-container').click(function(e)
                    {   
                        var offset_t = $(this).offset().top - $(window).scrollTop();
                        var offset_l = $(this).offset().left - $(window).scrollLeft();

                        var left = Math.round( (e.clientX - offset_l) );
                        var top = Math.round( (e.clientY - offset_t) );
                        if (user_pts<4){
                        user_coor.push([left,top]);
                        
                        dot_marker = document.createElement("div");
                        dot_marker.style.position = "absolute";
                        dot_marker.style.width = "5px";
                        dot_marker.style.height = "5px";
                        dot_marker.style.backgroundColor = "red";
                        dot_marker.style.left = left+"px";
                        dot_marker.style.top = top+"px";
                        document.getElementById("user-container").appendChild(dot_marker);
                        
                        // alert("Left: "+user_coor);
                        user_pts++;
                        if (user_pts==4){
                            alert("Finished clicking the user points");
                            document.getElementById("user_coord").value=user_coor;
                            user_pts++;
                        }
                        }
                        else{
                            alert("You have already clicked 4 points");
                        }
                       
                    });
                
                </script>
                                      
                        <script type="text/javascript">
                            var dd=pts;
                        document.getElementById("t").innerHTML=dd;
                        
                   
                        if (pts == 3){
                            alert("done"+ pts);
                            document.getElementById("n").innerHTML=coor;
                        }

                </script>
                <script>
                    //field
                    let field_container = document.getElementById('field-container');
                    let field_crosshair_vertical = field_container.querySelector('.crosshair-vertical');
                    let field_crosshair_horizontal = field_container.querySelector('.crosshair-horizontal');
                    
                    field_container.addEventListener('mousemove', (e) => {
                        let x = e.offsetX;
                        let y = e.offsetY;
                        x = (x*100)/field_container.offsetWidth
                        y = (y*100)/field_container.offsetHeight
                    console.log('x',x);
                    console.log('y',y);
                        field_crosshair_vertical.style.left = x+"%";
                        field_crosshair_vertical.style.visibility ="visible" ;
                        field_crosshair_horizontal.style.top = y+"%";
                        field_crosshair_horizontal.style.visibility = "visible" ;
                        
                    });
                    field_container.addEventListener('mouseout',()=>{
                        field_crosshair_vertical.style.visibility ="hidden" ;
                        field_crosshair_horizontal.style.visibility = "hidden" ;
                        
                    });
                    </script>
                    <script>
                    //user
                    let user_container = document.getElementById('user-container');
                    let user_crosshair_vertical = user_container.querySelector('.crosshair-vertical');
                    let user_crosshair_horizontal = user_container.querySelector('.crosshair-horizontal');
                    
                    user_container.addEventListener('mousemove', (e) => {
                        let x = e.offsetX;
                        let y = e.offsetY;
                        x = (x*100)/user_container.offsetWidth
                        y = (y*100)/user_container.offsetHeight
                    console.log('x',x);
                    console.log('y',y);
                        user_crosshair_vertical.style.left = x+"%";
                        user_crosshair_vertical.style.visibility ="visible" ;
                        user_crosshair_horizontal.style.top = y+"%";
                        user_crosshair_horizontal.style.visibility = "visible" ;
                        
                    });
                    user_container.addEventListener('mouseout',()=>{
                        user_crosshair_vertical.style.visibility ="hidden" ;
                        user_crosshair_horizontal.style.visibility = "hidden" ;
                        
                    });
                    
                </script>
            <!-- </section> -->
        <!-- </main>   -->
        </body>
</html>