<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
        <body>
            <h1 id="title">Offside detection</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index')}}">New detection</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </nav>
            <div>
                <h2>How to calibrate the image</h2>
                <img src="{{'static/images/field.jpg'}}" id="mainimage" />
                <div id="coor1"></div>
                <script type="text/javascript">                    
                    const fs = require('fs')
                    var pts =0;                    
                    var coor= [];
                    alert("click 4 points on the field");
                    while (pts<4){                
                        $('#mainimage').click(function(e)
                        {   
                            var offset_t = $(this).offset().top - $(window).scrollTop();
                            var offset_l = $(this).offset().left - $(window).scrollLeft();

                            var left1 = Math.round( (e.clientX - offset_l) );
                            var top1 = Math.round( (e.clientY - offset_t) );
                            // document.getElementById("coor1").innerHTML= coor;
                            coor.push([left1,top1]);
                        });
                        pts++;
                    }
                    alert("done")
                    // write to js file

                        

                        fs.writeFile('static/files/coord.txt', coor, err => {
                        if (err) {
                            console.error(err)
                            return
                        }
                        //file written successfully
                        })
                    // let c =coor.toString();
                    // document.getElementById("coor1").innerHTML= coor;
                </script>
                
            </div>
        </body>
</html>