<!DOCTYPE html>

<html>
    <head>

    </head>
    <body>
        <h1 id="title">Offside detection</h1>
        <nav>
            <ul>
                <li><a href="index.html">New detection</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
        <div>
            <form method="post" enctype="multipart/form-data">
                <label for="file">Select file to upload:</label>
                <input type="file" id="image" name="file1"> <br>
                <input type="submit" value="upload" name="submit">
                
                </form>
     
        </div>
    </body>
</html>
