<html>
        <title>Offside detection</title>
        <link rel="stylesheet" href="static/css/style.css?v=1.0.0">
    </head>
    <body>
            <h1 id="title"><a href="{{ url_for('index')}}">Offside detection</a></h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index')}}">New detection</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </nav>
            <div>
                No player detected
            </div>
            <div>
                <a href="{{ url_for('index')}}">Try again</a>
            </div>
            <div>
                <img src="{{image_b64}}" width="600px" height=auto alt="input image" />
            </div>
            
    </body>
</html>